body {
    background-color: #666666;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}
#center {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#center > form {
    align-self: center;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333333;
    display: flex;
}

ul {
    padding: 0;
}

.leftNav {
    margin-right:auto;
}

div#center {

}

footer {
    position: fixed;
    width: 100%;
    background-color: #333333;
    bottom: 0;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}
li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


.searchBar {

}
